.drawingPage {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
}

.drawingPage__body {
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
}
